b:section#main.main(
  preferrd='yes'
  maxwidgets=''
  showaddelement='yes'
)
  +Widget_PageList()
  +Widget_HTML('data:blog.url == data:blog.homepageUrl')
    include ../contents/_home
  +Widget_PopularPosts()
  +Widget_HTML('data:blog.url == data:blog.homepageUrl')
    include ../contents/_line-stamp
  +Widget_Blog()
  +Widget_HTML()
