b:section#main.main(
  preferrd='yes'
  maxwidgets=''
  showaddelement='yes'
)
  +Widget_PageList('PageList1', 'main_page-list')
  +Widget_HTML('HTML4', 'main_html-home')
  +Widget_PopularPosts('PopularPosts1', 'popular-posts')
  +Widget_HTML('HTML5', 'main_html-ads')
  +Widget_BlogSearch('Blog1', 'blog')
  +Widget_HTML('HTML6', 'main_html-footer')
