b:section#main.main(
  preferrd='yes'
  maxwidgets=''
  showaddelement='yes'
)
  +Widget_PageList('PageList1')
  +Widget_HTML('HTML11', '', 'data:blog.url == data:blog.homepageUrl')
    include ../contents/_home
  +Widget_PopularPosts('PopularPosts1')
  +Widget_HTML('HTML12', '', 'data:blog.url == data:blog.homepageUrl')
    include ../contents/_line-stamp
  +Widget_BlogSearch('Blog1', 'blog')
  +Widget_HTML('HTML13', 'main_html-footer')
