b:section#side.side(
  maxwidgets='',
  showaddelement='yes'
)
  +Widget_HTML('HTML1', 'side_html-top')
  +Widget_HTML('HTML2', 'side_html-ads')
  +Widget_BlogSearch('BlogSearch1', 'side_html-blog-search')
  +Widget_Label('Label1', 'side_label')
  +Widget_HTML('HTML3', 'side_html-sns')
