b:section#side.side(
  maxwidgets='',
  showaddelement='yes'
)
  +Widget_HTML('HTML1')
    include ../contents/_logo
  +Widget_HTML('HTML2')
    include ../contents/_ads-single
  +Widget_HTML('HTML3')
    include ../contents/_side-search
  +Widget_Label('Label1', 'side_label')
  +Widget_HTML('HTML4')
