b:section#side.side(
  maxwidgets='',
  showaddelement='yes'
)
  +Widget_HTML
    include ../contents/_logo
  +Widget_HTML
    include ../contents/_ads-single
  +Widget_HTML
    include ../contents/_side-search
  +Widget_Label
  +Widget_HTML
    include ../contents/_side-twitter
