:escape-html
  <div class="mb-4">
    <div class="row">
      <div class="col-12 mb-4">
          <img src="https://dummyimage.com/1000x383/CCC/EEE.png&text=Home+Banner" alt="HomeBanner" class="w-100">
      </div>
      <div class="col-4 mb-4">
        <a href="/">
          <img src="https://dummyimage.com/200x85/CCC/EEE.png&text=Category" alt="Category" class="w-100">
        </a>
      </div>
      <div class="col-4 mb-4">
        <a href="/">
          <img src="https://dummyimage.com/200x85/CCC/EEE.png&text=Category" alt="Category" class="w-100">
        </a>
      </div>
      <div class="col-4 mb-4">
        <a href="/">
          <img src="https://dummyimage.com/200x85/CCC/EEE.png&text=Category" alt="Category" class="w-100">
        </a>
      </div>
      <div class="col-4 mb-4">
        <a href="/">
          <img src="https://dummyimage.com/200x85/CCC/EEE.png&text=Category" alt="Category" class="w-100">
        </a>
      </div>
      <div class="col-4 mb-4">
        <a href="/">
          <img src="https://dummyimage.com/200x85/CCC/EEE.png&text=Category" alt="Category" class="w-100">
        </a>
      </div>
      <div class="col-4 mb-4">
        <a href="/">
          <img src="https://dummyimage.com/200x85/CCC/EEE.png&text=Category" alt="Category" class="w-100">
        </a>
      </div>
      <div class="col-4 mb-4">
        <a href="/">
          <img src="https://dummyimage.com/200x85/CCC/EEE.png&text=Category" alt="Category" class="w-100">
        </a>
      </div>
      <div class="col-4 mb-4">
        <a href="/">
          <img src="https://dummyimage.com/200x85/CCC/EEE.png&text=Category" alt="Category" class="w-100">
        </a>
      </div>
      <div class="col-4 mb-4">
        <a href="/">
          <img src="https://dummyimage.com/200x85/CCC/EEE.png&text=Category" alt="Category" class="w-100">
        </a>
      </div>
      <div class="col-4 mb-4">
        <a href="/">
          <img src="https://dummyimage.com/200x85/CCC/EEE.png&text=Category" alt="Category" class="w-100">
        </a>
      </div>
      <div class="col-4 mb-4">
        <a href="/">
          <img src="https://dummyimage.com/200x85/CCC/EEE.png&text=Category" alt="Category" class="w-100">
        </a>
      </div>
      <div class="col-4 mb-4">
        <a href="/">
          <img src="https://dummyimage.com/200x85/CCC/EEE.png&text=Category" alt="Category" class="w-100">
        </a>
      </div>
      <div class="col-4 mb-4">
        <a href="/">
          <img src="https://dummyimage.com/200x85/CCC/EEE.png&text=Category" alt="Category" class="w-100">
        </a>
      </div>
      <div class="col-4 mb-4">
        <a href="/">
          <img src="https://dummyimage.com/200x85/CCC/EEE.png&text=Category" alt="Category" class="w-100">
        </a>
      </div>
    </div>
  </div>
