:escape-html
  <div class="mb-4">
    <div class="row mb-4">
      <div class="col-12">
        <a href="/">
          <img class="w-100" src="https://dummyimage.com/690x160/EEE/CCC.png&text=Long%20Banner" alt="長めのバナー">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-center">
        <small class="mb-1">スポンサードリンク</small>
        <a href="/" class="d-block text-center">
          <img class="w-100" src="https://dummyimage.com/512/EEE/CCC.png&text=広告" alt="広告">
        </a>
      </div>
      <div class="col-6 text-center">
        <small class="mb-1">スポンサードリンク</small>
        <a href="/" class="d-block text-center">
          <img class="w-100" src="https://dummyimage.com/512/EEE/CCC.png&text=広告" alt="広告">
        </a>
      </div>
    </div>
  </div>
