:escape-html
  <div class="mb-4">
    <a href="/">
      <img class="w-100" src="https://4.bp.blogspot.com/-oIDDTj8rhXc/W5pazZO9afI/AAAAAAAAAlI/vBSqWGgLXagL5HTk5hFsusHqY9Ipx8_MwCLcBGAs/s1600/logo_sml.png" />
    </a>
  </div>
