:escape-html
  <div class="mb-4">
    <a href="https://twitter.com/guchimon99" class="btn btn-primary btn-lg btn-block mb-2">
      <i class="fab fa-twitter mr-2"></i> ぐちもんのTwitter
    </a>
    <p class="text-center">
      <small>ぐちもんが日頃のツイートをするアカウントです</small>
    </p>
  </div>
