-
  var _id = 0
  function newID() {
    return _id++
  }

include ./_html
include ./_header
include ./_label
include ./_blog
include ./_blog-search
include ./_new-posts
include ./_popular-posts
include ./_page-list
